html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: initial;
}

/* global */
:root {
  --main-color: rgb(0, 7, 10);
  --white-color: #fff;
  --border-color: #1992ca;
}

a {
  color: inherit;
  text-decoration: none;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

body::before {
  content: '';
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-color: rgb(16, 17, 29);
  filter: blur(5px);
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

img {
  width: 100%;
}

/* preloader */
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 1000;
}

.preloader__image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
  margin-top: -32px;
  margin-left: -32px;
  background: url('/img/loader.gif') no-repeat 50% 50%;
}

.loaded__hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

/* header */
.header__container {
  display: flex;
  margin: 25px;
}

.header__list {
  display: flex;
  margin: 0 auto;
}

.header__item {
  margin-right: 25px;
  width: 52px;
  height: 52px;
}

.header__item:hover {
  background-position-y: 156px;
}

.header__item:focus {
  background-position-y: 104px;
}

.header__item:active {
  background-position-y: 52px;
}

.header__search {
  background-image: url(/img/menubar-search-icon.png);
}

.header__live {
  background-image: url(/img/menubar-live-icon.png);
}

.header__vod {
  background-image: url(/img/menubar-vod-icon.png);
}

.header__apps {
  background-image: url(/img/menubar-apps-icon.png);
}

.header__settings {
  background-image: url(/img/menubar-settings-icon.png);
}


/* categories */
#categories {
  display: flex;
  margin-bottom: 20px;
}

.btn_categories {
  width: 100%;
  cursor: pointer;
  font-size: 28px;
  font-weight: 400;
  color: var(--white-color);
  background-color: rgba(35, 38, 187, 0);
  opacity: 0.7;
  border: none;
  outline: none;
  overflow-x: scroll;
}

.btn_categories-active,
.btn_categories:focus {
	text-transform: uppercase;
	font-weight: 600;
	border-bottom: 5px solid var(--border-color);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: rgba(0, 0, 0, 0);
	box-shadow: 0 5px 5px -5px var(--border-color);
	opacity: 1;
}


/* main_movies */
#movies {
  display: flex;
  justify-content: center;
}

#tab_name_movies {
  display: flex;
}

#main_movies {
  display: flex;
  flex-direction: column-reverse;
}

#img_movies {
  display: flex;
  justify-content: center;
  margin: 0 20px;
}

.img_name {
  display: flex;
  width: 150px;
  height: 250px;
  justify-content: top center;
  background-size: cover;
  border: none;
  cursor: pointer;
  outline: none;
}

.img_name-active,
.img_name:focus {
	display: flex;
	text-transform: uppercase;
	font-weight: 600;
	border-bottom: 5px solid var(--border-color);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0 5px 5px -5px var(--border-color);
	opacity: 1;
	padding: 10px;
}

.inner__title {
  display: flex;
  justify-content: center;
  font-size: 48px;
  font-weight: 700;
  color: var(--white-color);
}

.inner__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.inner__item {
  font-size: 24px;
  font-weight: 500;
  color: var(--white-color);
}

.ageLimit {
  padding: 4px 8px;
  outline: 1px solid var(--white-color);
  border-radius: 8px;
}

.rating {
  padding-right: 25px;
  background-image: url(/img/rating-star-icon.png);
  background-position: top right;
  background-repeat: no-repeat;
}

.img_movies button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
