html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: initial;
}

/* global */
a {
  color: inherit;
  text-decoration: none;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(16, 17, 29);
  backdrop-filter: blur(10px);
}

img {
  width: 100%;
}

.main_container {
  padding-bottom: 50px;
}

/* preloader */
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 1000;
}

.preloader__image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
  margin-top: -32px;
  margin-left: -32px;
  background: url('/img/loader.gif') no-repeat 50% 50%;
}

.loaded__hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

/* header */
.header__container {
  display: flex;
  padding: 25px;
}

.header__list {
  display: flex;
  margin: 0 auto;
}

.header__item {
  outline: none;
  border: none;
  margin-right: 25px;
  width: 52px;
  height: 52px;
}

.header__item:hover {
  background-position-y: 156px;
}

.header__item:focus {
  background-position-y: 104px;
}

.header__item:active {
  background-position-y: 52px;
}

.header__search {
  background-image: url(/img/menubar-search-icon.png);
}

.header__live {
  background-image: url(/img/menubar-live-icon.png);
}

.header__vod {
  background-image: url(/img/menubar-vod-icon.png);
}

.header__apps {
  background-image: url(/img/menubar-apps-icon.png);
}

.header__settings {
  background-image: url(/img/menubar-settings-icon.png);
}

/* categories */
#categories {
  position: relative;
  display: flex;
  overflow-x: scroll;
  margin-bottom: 20px;
}

.btn_categories {
  width: 100%;
  cursor: pointer;
  font-size: 28px;
  font-weight: 400;
  color: #fff;
  background-color: rgba(35, 38, 187, 0);
  opacity: 0.7;
  border: 0;
	border-bottom: 5px solid rgba(0, 0, 0, 0);
  outline: none;
  transition: all 0.5s ease-out;
}

.btn_categories-active {
	font-weight: 600;
	text-transform: uppercase;
}

.btn_categories:focus {
  outline: none;
	opacity: 1;
	border-bottom: 5px solid #1992ca;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	background-color: rgba(0, 0, 0, 0);
	box-shadow: 0 5px 5px -5px #1992ca;
}

/* main_movies */
#movies {
  padding-bottom: 80px;
}

#test {
  position: relative;
  width: 100%;
  height: 280px;
}

#tabName_movies {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 0 auto;
}

.btn_movies {
  display: flex;
  flex-shrink: 0;
  width: 150px;
  height: 250px;
  background-size: cover;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  transition: all 0.5s ease-out;
}

.btn_movies:not(:last-child) {
  margin-right: 20px;
}

.btn_movies-active {
  position: absolute;
  border-radius: 5px;
	padding: 10px;
}

.btn_movies:focus {
  outline: none;
  border-radius: 5px;
	border-bottom: 5px solid #1992ca;
  box-shadow: 0 5px 5px -5px #1992ca;
}

#tab_descr_movies {
  text-align: center;
  margin: auto 150px;
}

.inner__title {
  margin: 20px auto;
  font-size: 48px;
  font-weight: 700;
  color: #fff;
}

.inner__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.inner__item {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}

.inner__item:not(:last-child) {
  margin-right: 15px;
}

.ageLimit {
  padding: 4px 8px;
  outline: 1px solid #fff;
  border-radius: 8px;
}

.rating {
  padding-right: 25px;
  background-image: url(/img/rating-star-icon.png);
  background-position: top right;
  background-repeat: no-repeat;
}
